*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.hero{
	width: 100%;
	height: 100vh;
	background-image: linear-gardient(rgba(12,3,51,0,3),rgba(12,3,51,0,3));
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: -1px 08%;
	display: flex;
	align-items: center;
	justify-content: none;
}

nav .logo{
	width: 100px;
	padding: 4px;
	margin: 08px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}
li {
  float: left;
  border-right:4px solid white;
}

li:last-child {
  border-right: none;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
h2{
	padding: 56px;
	text-align: center;
	font-size: 60px;
	color: red;
}
* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}